[user]
  name         = iintothewind
  email        = ivarchen@live.cn
[core]
  excludesfile = ~/.gitignore
  autocrlf     = input
  safecrlf     = false
  editor       = vim
[color]
  ui           = auto
  diff         = auto
  status       = auto
  branch       = auto
  interactive  = auto
[http]
  sslVerify    = false
[merge]
  tool         = vimdiff
[diff]
  tool         = vimdiff
[difftool]
  prompt       = false
[alias]
  d            = difftool
  cm           = commit
  pl           = pull
  ps           = push
  br           = branch
  co           = checkout
  di           = diff
  fetchall     = fetch -v --all
  st           = status
  wdiff        = diff --word-diff
  amend        = commit --amend -a
  last         = log -1
[pull]
	rebase = true
[credential]
  helper = cache --timeout=86400
  ;helper = osxkeychain
  ;helper = manager
