[user]
  name         = iintothewind
  email        = ivarchen@live.cn
[core]
  excludesfile = ~/.gitignore
  autocrlf     = input
  safecrlf     = false
  editor       = vim
[color]
  ui           = auto
  diff         = auto
  status       = auto
  branch       = auto
  interactive  = auto
[credential]
  helper       = cache --timeout 86400
[http]
  sslVerify    = false
[merge]
  tool         = vimdiff
[diff]
  tool         = vimdiff
[difftool]
  prompt       = false
[alias]
  d            = difftool
  cm           = commit
  pl           = pull
  ps           = push
  br           = branch
  co           = checkout
  di           = diff
  fetchall     = fetch -v --all
  st           = status
  wdiff        = diff --word-diff
  am           = commit --amend -a
  ll           = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
  last         = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative -1
  bclean       = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -n 1 git branch -d; }; f"
[pull]
	rebase = true
[credential]
  ;helper = osxkeychain
  ;helper = manager
  helper = cache --timeout=86400

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only


